<h1>Edit Course Info</h1><br>
<%# binding.pry %>

<%= form_for @course, url: {action: "update"} do |c| %>
	<div class="title_bar">
  	<div class="left"><h2>Title: </h2> </div>
  	<div class="right"><%= c.text_field :course_name, placeholder: @course.course_name %></div> <br>
  	</div>
	<div class="left"><h2>Instructors:</h2></div>
	<div class="right"><input type="button" id="add_instructor" class="btn btn-primary btn-md" value="Add Instructor" onClick="addInstructor()"></div>
	<br>
	<% @course.instructors.each do |instructor| %>
		<p>
			<div class="left"><%= instructor.username %></div>
			<div class="right"><%= link_to "Remove", "#", :method => :delete, class: 'btn btn-danger' %></div>
		</p>
	<% end %>
  <div id="instructorHolder"></div><br>
  <%= c.submit "Update Course", class: 'btn btn-success btn-lg' %>
<% end %>


