<div class="top">
	<% if current_user %> 
		<h1><div class="left">Lessons for <%= @course.course_name %></div></h1>
	<% else %>
		<h1>Lessons for <%= @course.course_name %></h1>
	<% end %>
</div>

<div class="info-bar">
	<div class="left">
	<%= link_to "New Lesson", new_course_lesson_path(@course.secret_code), class: "btn btn-success btn-lg" %>
	</div>
	<div class="right">
		<h2>Instructors:</h2>
		<% @course.instructors.each do |instructor| %>
			<p><%= instructor.username %></p>
		<% end %>
	</div>
</div>

<br><br>
<% @course.lessons.reverse.each do |entry| %>
	<p>
   	<div class="left"><%= link_to entry.title, lesson_path(entry.secret_code) %></div>
   	<div class="right">
   		<%= link_to "Edit", edit_lesson_path(entry), class: 'btn btn-primary' %>
   		<%= link_to "Delete", lesson_path(entry), :method => :delete, class: 'btn btn-danger' %>
   	</div>
   	</p>
<% end %>
<br>

<%= link_to "Back to Course List", instructor_path(current_user.instructor_secret_code), class: 'btn btn-warning' %>
