<!DOCTYPE html>
<html>
<head>
  <title>Coursebeat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<a class="navbar-brand" href="/lessons"><span class="glyphicon glyphicon-book"></span> CourseBeat</a>
	<ul class="nav navbar-nav navbar-right">
		
			<% if current_user %>
				<li><%= link_to "Welcome, " + current_user.username, instructor_path(current_user.instructor_secret_code) %></li>
				<li><%= link_to "Logout", logout_path, method: "get" %></li>
			<% else %>
				<li><%= link_to "Sign Up", new_instructor_path %></li>
				<li><%= link_to "Login", new_session_path, method: "get" %></li>
			<% end %>
		
	</ul>
</nav>



<div class="jumbotron">
<% if flash[:alert] %>
	<div class="alert alert-success"><%= flash[:alert] if flash[:alert] %></div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-danger"><%= flash[:error] if flash[:error] %></div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info"><%= flash[:info] if flash[:info] %></div>
<% end %>

<%= yield %>
</div>


<!-- <%= params.inspect %> -->
</body>
</html>
